/* --- Theme Variables --- */
:root {
	/* Light Mode Colors */
	--audio-player-background-color: white;
	--audio-button-background-color: whitesmoke;
	--audio-button-hover-color: #333;
	--audio-text-color: black;
	--audio-time-text-color: #444;
	--audio-player-shadow-color: 0 3px 6px rgba(0, 0, 0, 0.1);
	--waveform-background: #232121;
	--waveform-foreground: #eaeaea55;
}

html.dark {
	/* Dark Mode Colors */
	--audio-player-background-color: #222;
	--audio-button-background-color: #666;
	--audio-button-hover-color: #c7c7c7;
	--audio-text-color: white;
	--audio-time-text-color: #999;
	--audio-player-shadow-color: 0 3px 6px rgba(234, 234, 234, 0.1);
	--waveform-background: #cfd0f1;
	--waveform-foreground: #33333359;
}

.audio-player {
	background: var(--audio-player-background-color);
	border-radius: 5px;
	box-shadow: var(--audio-player-shadow-color);
	padding: 5px 5px;
	display: flex;
	flex-direction: row;
	gap: 1px;
	width: 100%;
	height: 100%;
	max-height: 75px;
	min-height: 50px;
	box-sizing: border-box;
}

.audio-button {
	background: var(--audio-button-background-color);
	color: var(--audio-text-color);
	border: none;
	border-radius: 6px;
	padding: 6px 12px;
	cursor: pointer;
	font-size: 13px;
	align-self: flex-start;
	height: 100%;
}
.audio-button:hover {
	background: var(--audio-button-hover-color);
}

.waveform-canvas {
	width: 100%;
	height: 50px;
	border-radius: 4px;
	cursor: pointer;
}

.time {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	align-items: center;
	font-size: 11px;
	color: var(--audio-time-text-color);
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	flex-wrap: nowrap;
}

input[type="range"] {
	flex: 1;
	cursor: pointer;
	height: 4px;
}

.transcript {
	font-size: 14px;
	color: #333;
	margin-top: 12px;
	line-height: 1.5;
}

@media (max-width: 480px) {
	.audio-player {
		padding: 8px;
	}
	.audio-button {
		width: 100%;
		text-align: center;
	}
}
